.finder-container {
  margin: 25px 0;
  display: flex;
  align-items: center;
  width: 350px;
}

.finder-container input,
.finder-btn {
  font-size: 0.8em;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.175);
  border: 2px solid var(--woodburn);
}

.finder-container input:focus {
  outline: none;
}

.finder-container input {
  width: 100%;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.finder-btn {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.finder-btn:hover {
  background-color: var(--warm-leather);
}
