.results-container {
  column-count: 3;
  column-gap: 50px;
  row-gap: 50px;
  width: 100%;
  margin: 25px 0;
  position: relative;
}

.results-container p {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .results-container {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .results-container {
    column-count: 1;
  }
}
