.item-container {
  width: 300px;
  break-inside: avoid;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
  background: var(--campfire-smoke);
  transition: transform 0.3s ease;
}

.item-container:hover {
  transform: scale(1.01);
}

.item-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 0.1px black;
  cursor: pointer;
}

.item-desc h3 {
  padding: 10px 0;
}

.item-desc img {
  width: 100%;
  height: 100%;
  min-height: 100px;
}
