.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* RESULTS */
.results-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
}

.item-container {
  width: 500px;
  height: 250px;
  border: 1px solid red;
}

.item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
