.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container header {
  margin-top: 50px;
  font-size: 1.3em;
}

.app-container > header h1 {
  font-family: var(--main-font);
  text-align: center;
}
