.outer-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.733);
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.full-artwork-container {
  background-color: var(--campfire-smoke);
  width: 80%;
  max-width: 800px;
  max-height: 90vh;
  padding: 50px;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
}

.artwork-desc {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  gap: 5px;
  line-height: 1.8;
}

.artwork-desc img {
  width: 60%;
  margin: 25px auto;
}

.artwork-desc h2 {
  font-size: 2em;
}

.full-desc {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-btn {
  border: none;
  cursor: pointer;
  margin-top: 35px;
  font-size: 1.1em;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease;
  font-weight: 500;
}

.close-btn:hover {
  background-color: var(--warm-leather);
}
